.form-bottom{
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.form-button{
  background-color: #53354A;
  color: white;
  border-radius: 6px;
  padding: 5px 10px;
}
.register{
  background-color: #E84545;
  margin-left: 25%;
  margin-top: 10%;
  border-radius: 18px;
  height: 470px;
  width: 680px;
}
