.login{
  background-color: #1a1c20;
  border-radius: 18px;
  margin-top: 8%;
  height: 420px;
  color: white;
}
.heading {
  text-align: center;
  font-size: 30px;
}

input{
  margin: auto;
}

.form-bottom{
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.form-button-login{
  background-color: #2B2E4A;
  color: white;
  border-radius: 6px;
  padding: 5px 10px;
  border:none;
}

@media only screen and (max-width: 770px) {
  .form-bottom {
    text-align: center;
  }
}
