.form-bottom{
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.form-button-register{
  background-color: #2B2E4A;
  color: white;
  border-radius: 6px;
  padding: 5px 10px;
  border:none;
}
.register{
  color: white;
  background-color: #1a1c20;
  border-radius: 18px;
  margin-top: 8%;
  height: 420px;
}
